<div class="contact-component">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <map sites="false" lat="44.643496514542555" lon="1.588009373016348"></map>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2>Contact</h2>
            <div>Erica et Edwin de Graaf</div>
            <div>La Devèze</div>
            <div>46240 Coeur de Causse (Labastide-Murat)</div>
            <br>
            <div>
                <span class="portable">portable Edwin:</span>
                <span>06.61.17.01.44</span>
            </div>
            <div>
                <span class="portable">portable Erica:</span>
                <span>06.31.96.50.57</span>
            </div>
            <br>
            <div>email: erica.de.graaf.borkent@gmail.com</div>
        </div>
         <div class="col-xs-12 col-sm-6">
            <br>
            <div>
                <img width="100%" height="auto" src="https://paardrijvakantie.com/images/la-deveze-1.jpg">
            </div>
            <br>   
        </div>    
    </div>
</div>    