<div class="footer">
    <div class="row">
        <div class="col-xs-12 col-sm-3 footer-links">
            <ul>
                <li>
                    <a routerLink="/chambre-hotes" routerLinkActive="active">Accueil</a>
                </li>
                <li>
                    <a routerLink="/chambre-rocamadour" routerLinkActive="active">Chambre Rocamadour</a>
                </li>
                <li>
                    <a routerLink="/chambre-saint-cirq-lapopie" routerLinkActive="active">Chambre Saint Cirq Lapopie</a>
                </li>
                <li>
                    <a routerLink="/table-hotes" routerLinkActive="active">Table d'hôtes</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3 footer-links">   
            <ul>
                <li>
                    <a routerLink="/reservation" routerLinkActive="active">Réservation en ligne</a>
                </li>
                <li>
                    <a routerLink="/sites-touristiques" routerLinkActive="active">Sites touristiques</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">     
            <div class="footer-info"><b>Edwin et Erica de Graaf</b></div>
            <div class="footer-info">La Devèze</div>
            <div class="footer-info">46240 Coeur de Causse (Labastide-Murat)</div>
            <div class="footer-info">tel: 06.31.96.50.57 / 06.61.17.01.44</div>
        </div>
    </div>        
   
    <br>
</div>