<div class="home-container">
    <img #homeImage [src]="homeImageSource" class="home-image">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="item">
                <img title="Rocamadour" alt="b &amp; b foto 1" src="https://paardrijvakantie.com/images/chambre_hotes_rocamadour_1.jpg">
                <p>&nbsp;</p>
                <div class="text-center item-text">
                    <h4>Rocamadour</h4>
                    <p>Cette suite familiale a 2 chambres</p>
                    <br>
                    <button type="button" class="btn btn-danger btn-lg">
                        <a routerLink="/chambre-rocamadour" target="_blank">en savoir +</a>
                    </button>
                </div>
            </div>
            <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="item">
                <div>
                    <img title="Saint Cirq Lapopie" class="img-responsive" alt="b &amp; b foto 2" src="https://paardrijvakantie.com/images/chambre_hotes_gourdon.jpg">
                </div>
                <p>&nbsp;</p>
                <div class="text-center item-text">
                    <h4>Saint Cirq Lapopie</h4>
                    <p>Cette suite familiale a 2 chambres</p>
                    <br>
                    <button type="button" class="btn btn-danger btn-lg">
                        <a routerLink="/chambre-saint-cirq-lapopie" target="_blank">en savoir +</a>
                    </button>
                </div>
            </div>
            <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="item">
                <div>
                    <img title="Table hôtes" class="img-responsive" alt="table d'hotes" src="https://paardrijvakantie.com/images/gedekte tafel2.jpg">
                </div>
                <p>&nbsp;</p>
                <div class="text-center item-text">
                    <h4>Table d'hôtes</h4>
                    <p>Exclusivement pour les randonneurs à pied, à vélo ou à cheval</p>
                    <br>
                    <button type="button" class="btn btn-danger btn-lg">
                        <a routerLink="/table-hotes" target="_blank">en savoir +</a>
                    </button>
                </div>
            </div>
            <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="item">
                <div>
                    <img title="Sites touristiques" class="img-responsive" alt="sites touristiques" src="https://paardrijvakantie.com/images/saint_cirq_lapopie.jpg">
                </div>
                <p>&nbsp;</p>
                <div class="text-center item-text">
                    <h4>Site touristiques</h4>
                    <p>dans le Lot et les alentours</p>
                    <br>
                    <button type="button" class="btn btn-danger btn-lg">
                        <a routerLink="/sites-touristiques" target="_blank">en savoir +</a>
                    </button>
                </div>
            </div>
            <br>
        </div>
    </div>    
</div>