<div class="rocamadour-component"> 
    <div class="row">
        <br>
        <div class="col-sm-6">
            <div>
                <img class="img-responsive" alt="" src="https://paardrijvakantie.com/images/bed-and-breakfast-rocamadour-1.jpg">
            </div>
            <p>&nbsp;</p>
            <b>Chambre Rocamadour - chambre 1</b>
            <p>Cette chambre a un lit double</p>
        </div>
        <div class="col-sm-6">
            <div>
                <img class="img-responsive" alt="" src="https://paardrijvakantie.com/images/bed-and-breakfast-rocamadour-3.jpg">
            </div>
            <p>&nbsp;</p>
            <b>  <br></b>
            <p>Salle d'eau avec douche, wc et double lavabo.</p>
        </div>
    </div>    
    <div class="row">
        <br>
        <div class="col-sm-6">
            <div>
                <img class="img-responsive" alt="" src="https://paardrijvakantie.com/images/chambre_hotes_saint_cirq_lapopie.jpg">
            </div>
            <p>&nbsp;</p>
            <b>Chambre Rocamadour - chambre 2</b>
            <p>Cette chambre a deux lits simples</p>
            <datepicker [data]="13"></datepicker>
            <a routerLink="/reservation" routerLinkActive="active"><button class="btn">Réservation en ligne</button></a>
        </div>
        <div class="col-sm-6">
            <div>
                <img class="img-responsive" alt="" src="https://paardrijvakantie.com/images/bed-and-breakfast-rocamadour-2.jpg">
            </div>
            <p>&nbsp;</p>
            <b>  <br></b>
            <p>Cette suite a une entrée indépendante</p>
            <br>
            <p>Prix par nuit:</p> 
            <p>1 personne 60 euros</p> 
            <p>2 personnes 65 euros</p> 
            <p>3 personnes 85 euros</p> 
            <p>4 personnes 105 euros</p> 
            <p>5 personnes 120 euros</p> 
        </div>
    </div> 
</div>

