<div class="saint-cirq-component"> 
    <div class="row">
        <br>
        <div class="col-sm-6">
            <div>
                <img class="img-responsive" alt="" src="https://paardrijvakantie.com/images/Chambre Gourdon II.jpg">
            </div>
            <p>&nbsp;</p>
            <b>Chambre Saint Cirq Lapopie - chambre 1</b>
            <p>Cette chambre a un lit double ou 2 lits simples</p>
        </div>
        <div class="col-sm-6">
            <div>
                <img class="img-responsive" alt="" src="https://paardrijvakantie.com/images/chambre_hotes_figeac_6.jpg">
            </div>
            <p>&nbsp;</p>
            <b>  <br></b>
            <p>Salle d'eau avec douche, wc et double lavabo.</p>
        </div>
    </div>    
    <div class="row">
        <br>
        <div class="col-sm-6">
            <div>
                <img class="img-responsive" alt="" src="https://paardrijvakantie.com/images/chambre_hotes_figeac_3.jpg">
            </div>
            <p>&nbsp;</p>
            <b>Chambre Saint Cirq Lapopie - chambre 2</b>
            <p>Cette chambre a un lit double</p>
            <datepicker [data]="14"></datepicker>
            <a routerLink="/reservation" routerLinkActive="active"><button class="btn">Réservation en ligne</button></a>
        </div>
        <div class="col-sm-6">
            <div>
                <img class="img-responsive" alt="" src="https://paardrijvakantie.com/images/chambre_hotes_gourdon_4.jpg">
            </div>
            <p>&nbsp;</p>
            <b>  <br></b>
            <p>Cette suite a une entrée indépendante</p>
            <br>
            <p>Prix par nuit:</p> 
            <p>1 personne 55 euros</p> 
            <p>2 personnes 60 euros</p> 
            <p>3 personnes 80 euros</p> 
            <p>4 personnes 100 euros</p> 
        </div>
    </div> 
</div>