<div class="table-hotes-component">
    <div class="row">
     <div class="col-xs-12 col-sm-6">
        <img src="https://paardrijvakantie.com/images/cuisine1.jpg" width="100%" height="auto">
    </div>
    <div class="col-xs-12 col-sm-6">
        <p>Exclusivement pour les randonneurs à pied, à vélo ou à cheval</p>
        <p>Prix: 20 &euro; par personne</p>
        <ul>
            <li>entrée</li>
            <li>plat</li>
            <li>fromage</li>
            <li>dessert</li>
            <li>vin et café/tisane inclus</li>
        </ul>    
    </div>
</div>